:root {
  /* Primary Colors */
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);

  /* Neutral Colors */
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
}

/* CSS Reset */

/* Ganti margin dan padding default menjadi 0 */
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

p {
  color: var(--neutral-desaturated-blue);
}

a {
  color: var(--primary-bright-blue);
}

/* Set font dan ukuran default */
body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--neutral-dark-blue);
  background-color: var(--primary-pale-blue);
  background-image: url('images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: top;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hapus garis bawah pada tautan */
a {
  text-decoration: none;
}

/* Hapus bullet pada daftar */
ul,
ol {
  list-style: none;
}

/* Hapus padding pada gambar */
img {
  border: 0;
}

/* Hapus gaya default pada elemen form */
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
}

/* Hapus gaya default pada elemen form yang bisa diatur ulang oleh pengguna */
button,
input {
  overflow: visible;
}

/* Atur tampilan inline pada elemen yang bisa diatur ulang oleh pengguna */
button,
select {
  text-transform: none;
}

/* Ganti tampilan elemen inline-block agar sesuai di semua browser */
button,
input[type='checkbox'],
input[type='radio'],
select {
  vertical-align: middle;
}

/* Reset padding pada elemen input type="checkbox" dan input type="radio" di Internet Explorer 10- */
input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  padding: 0;
}

/* Hapus gaya default pada elemen textarea yang bisa diatur ulang oleh pengguna */
textarea {
  overflow: auto;
}

/* Ganti warna latar belakang elemen input yang diaktifkan */
input:enabled,
textarea:enabled {
  background-color: #fff;
}

/* Atur tampilan tombol saat dihover dan saat aktif */
button:hover,
button:focus,
button:active,
input[type='button']:hover,
input[type='button']:focus,
input[type='button']:active,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='reset']:active,
input[type='submit']:hover,
input[type='submit']:focus,
input[type='submit']:active {
  cursor: pointer;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  max-width: 375px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.card-wrapper {
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 1.3rem;
  box-shadow: 0 15px 25px 0 hsla(245, 75%, 52%, 0.11);
}

.thumbnail-wrapper {
  position: relative;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.3rem 1.3rem 0 0;
}
.content-wrapper {
  padding: 0 1.55rem;
}

.text-wrapper {
  padding: 0 0.4rem;
}

.card-title,
.card-text {
  text-align: center;
}

.card-title {
  font-weight: 900;
  font-size: 1.4rem;
  margin-top: 1.1rem;
}

.card-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.main-plan-wrapper {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  background-color: var(--neutral-very-pale-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.6rem;
  font-size: 0.9rem;
}

.icon-music {
  margin-right: 1rem;
}

.annual-text {
  color: var(--neutral-dark-blue);
  font-weight: 900;
}

.change-link {
  text-decoration: underline;
  font-weight: 800;
}
.change-link:hover {
  opacity: 0.8;
}

.second-plan-wrapper {
  display: flex;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.proceed-btn,
.cancel-btn {
  padding: 1rem;
  background-color: transparent;
  font-weight: 700;
}

.proceed-btn {
  color: #ffffff;
  background-color: var(--primary-bright-blue);
  border-radius: 0.6rem;
  box-shadow: 0 15px 20px 0 hsla(245, 75%, 52%, 0.25);
  transition: all 0.2s ease;
}

.proceed-btn:hover {
  opacity: 0.8;
}

.cancel-btn {
  color: var(--neutral-desaturated-blue);
}

.cancel-btn:hover {
  transition: color 0.2s ease;
  color: var(--neutral-dark-blue);
}

/*  */
.attribution {
  text-align: center;
}

@media (min-width: 767px) {
  .container {
    max-width: 425px;
  }

  body {
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center -8rem;
  }
}
